@{
    ViewBag.Title = "Unathorize";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div id="no-item" class="hero is-medium is-bold">
    <div class="hero-body has-text-centered">
        <div class="section ">
            <div class="title has-text-white">
                <span class="icon has-text-white">
                    <i class="fas fa-lock fa-7x"></i>
                </span>
            </div>
        </div>
        <div class="container has-text-white">
            <div class="subtitle">
                <p class="has-text-white">Lo sentimos, pero no posees los permisos necesarios</p>
            </div>
        </div>
    </div>
</div>